p {
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 36pt;
	position: relative;
	padding-top: 20px;
	margin-top:0px;
	margin-bottom: 10px;
	margin-left: 2vw;
}

.navbox {
	background-color: #28f0ff;
	width: 100vw;
	position: relative;
	height: 9vh;
	left: 0;
	top: 0;
}

.signin {
	text-align: right; 
	color:white; 
	font-size:16pt;
	position:relative;
	right: 4%;
	padding-top:2%;
    text-decoration: underline;
}

.signin:hover {
	cursor: pointer!important;
}