.emoji-picker {
	width: 72%;
	left: 9.9%;
	z-index: 2;
	position: fixed;
}

.sticky-bottom {
	bottom:0%;
	height:300px;
}

.sticky-nav {
	bottom:300px;
}

.emoji-container {
	overflow-y: auto;
	height:300px;
}

