.emoji-picker {
	width: 72%;
	left: 9.9%;
	z-index: 2;
	position: fixed;
}

.sticky-bottom {
	height:300px;
}

.sticky-nav {
	bottom:300px;
}

.emoji-container {
	overflow-y: auto;
	height:300px;
}

.nav-container {
 padding-top:5px; 
 padding-bottom:5px;
}

.close-button {
	font-size:30pt;
	position:relative;
	top:3px;
	float: right;
		color: #aeb1b7

}

.close-button:hover {
		cursor:pointer;
	color: #c9cdd3;
}
.contextmenu{
	position:fixed;
    z-index: 999;
}