<input class ="form-control" #textField [(ngModel)] = "model" (focus)="onInputFocus();" (blur)="onInputBlur(textField)" style="width:100%;">


<div [style.display]="popUp ? 'flex' : 'none'">


<div class = "emoji-picker">
<div class="sticky-bottom">
				<app-category-nav class = "sticky-nav" (navClick)="onNavClick($event)" style="left:1%; width:70%;"></app-category-nav>
		<div class = "card emoji-container">
			<div class= "card-body">
				<div *ngIf="emojis">
					<div *ngIf="cat_dict">
						<div  [hidden] = "(searchString.length != 0)">
						<div *ngFor="let category of cat_ordering">
							<h5 id={{category}}>{{cat_headers[category]}}</h5>
							<div class = "container-fluid">
								<div class = "row">
							<div *ngFor = "let emoji_name of cat_dict[category]">
								<app-emoji [emoji_char] = "emojis[emoji_name]['char']" (emojiSelected)="onEmojiSelected($event, textField)"></app-emoji>
							</div>
						</div>
						</div>
						</div>
					</div>
					<div *ngIf="searchString != 0">
						<h5>Search Results</h5>
							<div class = "container-fluid">
								<div class = "row">
							<div *ngFor = "let emoji_name of filteredEmojis">
								<app-emoji [emoji_char] = "emojis[emoji_name]['char']" (emojiSelected)="onEmojiSelected($event, textField)"></app-emoji>
							</div>
						</div>
						</div>
					</div>
					</div>
				</div>
			</div>
	</div>
</div>
</div>
</div>



