<div class = "container-fluid">
	<div class = "row">
		<div class = "col-2">
		</div>
		<div class = "col">
<input class ="form-control" #textField [(ngModel)] = "output" (focus)="onInputFocus();" (blur)="onInputBlur(textField)">
<p>{{output}}</p>

</div>
<div class = "col-2">
</div>

</div>
<div class="sticky-bottom">
	<div *ngIf="popUp">
		<div class = "card">
			<div class= "card-body">
				<app-category-nav></app-category-nav>
				<div *ngIf="emojis">
					<div *ngIf="cat_dict">
						<div *ngFor="let category of cat_ordering">
							<h5>{{cat_headers[category]}}</h5>
							<div class = "container-fluid">
								<div class = "row">
							<div *ngFor = "let emoji_name of cat_dict[category]">
								<app-emoji [emoji_char] = "emojis[emoji_name]['char']" (emojiSelected)="onEmojiSelected($event, textField)"></app-emoji>
							</div>
						</div>
						</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
</div>
</div>



