<div class = "container-fluid">
	<div class = "row">
		<div class = "col-2">
		</div>
		<div class = "col">
<input class ="form-control" [(ngModel)] = "output" (focus)="onInputFocus();">
<p>{{output}}</p>

</div>
<div class = "col-2">
</div>

</div>
<div class="sticky-bottom">
	<div *ngIf="popUp">
		<div class = "card">
			<div class= "card-body">
				<ul class="nav nav-tabs">
					<li class = "nav-item">
						<a class="nav-link active">All</a>
					</li>
					<li class = "nav-item">
						<a class="nav-link">Smiley</a>
					</li>
					<li class = "nav-item">
						<a class="nav-link">Sports</a>
					</li>
</ul>
				new keyboard bitch
			</div>
	</div>
</div>
</div>
</div>



