<div class="row" style="margin-top: 5%; height: 100%;">
	<div class = "col">
			<a routerLink = "/headline/{{backID}}">
	<app-hl-movement [dir]="'left'" (click)="backward()" align = "center"></app-hl-movement>
		</a>
	</div>
	<div class="col-8" position = "relative">
		<div *ngIf = "headline">
      <app-hl-info [display]="headline" #info></app-hl-info>
  </div>
    </div>
	<div class = "col">
					<a routerLink = "/headline/{{forwardID}}">
	<app-hl-movement [dir]="'right'" (click)="forward()" align = "center"></app-hl-movement>
</a>
	</div>
</div>
