.emoji {
	font-size: 18pt; 
	padding:3px;
	border-radius:10px;
}

.emoji:hover {
	cursor:pointer;
	background-color: #c9cdd3;
	    transition-delay:0.15s;
}
.contextmenu{
	position:absolute;
	margin:-40px;
}