<div *ngIf = "headline">
<div class = "container">
<div align="center">
<app-headline-view #hl [headline]="headline" [backID]= "backID" [forwardID]="forwardID"></app-headline-view>
</div>
<div class = "row">
<app-emoji-input (SubmittedEmoji)="onEmojiSubmit($event)"></app-emoji-input>
<div class = "row">
	<div class = "col-1">
	</div>
	<div class = "col-10">

<app-translations-master [headline]="headline"></app-translations-master>

</div>
	<div class ="col-1">
		</div>
</div>
</div>
</div>
</div>

<app-testing-emoji-keyboard></app-testing-emoji-keyboard>

<!-- <p>{{headlines | json}}</p> -->
