<div *ngIf = "headline">
<div class = "container-fluid">
<div align="center">
<app-headline-view #hl [headline]="headline" [backID]= "backID" [forwardID]="forwardID"></app-headline-view>
</div>
<div class = "row">
	<div class = "col-sm-10" style="margin:0 auto;">
		<app-testing-emoji-keyboard [model] = "emojiString"></app-testing-emoji-keyboard>
		<button (click)="onEmojiSubmit(emojiString)">submit</button>
	</div>
</div>
<div align="center">

<div class = "row">
	<div class = "col-1">
	</div>
	<div class = "col-10">

<app-translations-master [headline]="headline"></app-translations-master>

</div>
	<div class ="col-1">
		</div>
</div>
</div>
</div>
</div>


<!-- <p>{{headlines | json}}</p> -->
