<div *ngIf = "headlines">
<div class = "container">
<div align="center">
<app-headline-view #hl [headline]="headlines[hl_toDisplayID]" [backID]= "backID" [forwardID]="forwardID"></app-headline-view>
</div>
<div class = "row">
<app-emoji-input (SubmittedEmoji)="onEmojiSubmit($event)"></app-emoji-input>
<div class = "row">
	<div class = "col-1">
	</div>
	<div class = "col-10">

<div *ngIf = "hl_received">
<app-translations-master [headline]="headlines[hl_toDisplayID]"></app-translations-master>
</div>

</div>
	<div class ="col-1">
		</div>
</div>
</div>
</div>
</div>

<!-- <p>{{headlines | json}}</p> -->
