<!-- Top Nav Bar that should be its own component-->
<app-navbar></app-navbar>
<div align="center">
<app-headline-view></app-headline-view>
</div>
<div style="max-width: 500px; display: inline-block;">
  <emoji-input [(model)]="text"
               [inputClass]="'red'"
               [searchClass]="'blue'"
               [closeAfterSelection]="false"
               style="display: inline-block;"
               >
  </emoji-input>
<!--   <button type="button" name="button"  style="display: inline-block;" (click)="openPopup()">
    Click me :)
  </button> -->
</div>

