.emoji-nav-icon {
	font-size: 24pt;
	color: #aeb1b7

}

.nav-container {
 padding-top:5px; 
 padding-bottom:5px;
}

@media (max-width:970px;) {
.nav-container {
 padding-top:5px; 
 padding-bottom:20px!important;
}	
}